<div id="main">
  <h1>ヘルプページ</h1>

  <h2 class="help_title">使い方詳細</h2><br>
  <div class="help_content">
    <h3>●習慣登録、投稿</h3>
      <p>1. 左側メニュー内の「習慣登録」リンクを押す</p><br>
      <p>2. 習慣名を記入し、習慣の種類を選択する</p>
      <p class="mgl">時間を記録したい時は記録タイプを選択</p>
      <p class="mgl">それ以外はチェックタイプを選択</p><br>
      <p>3. 記入内容を確認し、「登録」ボタンを押す</p><br>
      <p>4. 右側習慣リスト内の「今日の成果を投稿」ボタンを押す</p><br>
      <p>5. 今日やった事を記入し、決めた習慣を実行できていたら、目標達成チェックを入れる</p>
      <p class="mgl">記録タイプの場合は行った時間を入力する</p><br>
      <p>6. 「投稿」ボタンを押す</p><br>

      <h4>●他ユーザーの習慣を検索</h4>
      <p>1. 左側メニュー内の「習慣検索」リンクを押す</p><br>
      <p>2. 検索したいキーワードを入力し、「検索」ボタンを押す</p><br>
      <p>3. 見たいものが見つかったらユーザーの名前を押し、フォローする</p>
    </div>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>
