<div id="main">
  <h1>ヘルプページ</h1>

  <h2 class="help_title">使い方詳細</h2><br>
  <div class="help_content">
	  <p>1. 左側メニュー内の習慣登録リンクを押す</p><br>
	  <p>2. 習慣名を記入し、習慣の種類を選択する</p>
	  <p class="mgl">時間を記録したい時は記録タイプを選択</p>
	  <p class="mgl">それ以外はチェックタイプを選択</p><br>
	  <p>3. 記入内容を確認し、登録ボタンを押す</p><br>
	  <p>4. 右側習慣リスト内の今日の成果を投稿ボタンを押す</p><br>
	  <p>5. 今日やった事を記入し、決めた習慣を実行できていたら、目標達成チェックを入れる</p>
	  <p class="mgl">記録タイプの場合は行った時間を入力する</p><br>
	  <p>6. 投稿ボタンを押す</p>
	</div>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>
