<div id="main">
  <h2>ホーム</h2>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= render partial: "shared/post", locals: {show_delete_button: false}, collection: @posts %>
  <%= paginate @posts %>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>
