body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sams-serif;
  color: #000;
  background-color: #fff;
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 3fr 2fr;
  -ms-grid-rows: 1fr 4rem;
  -ms-grid-columns: 2fr 3fr 2fr;
  background-color: #f2fff2;
}

body, header, footer, h1, h2, h3, div, p, ul {
  padding: 0;
  border: 0;
  margin: 0;
}

h1, h2, h3 {
  font-size: 1.7em;
  line-height: 2em;
  margin: 0 0.5em;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

/* pagination */
.pagination {
  text-align: center;
  margin: 1em;

  span {
    margin: 0 0.5em;

    a {
      border: 1px;
      color: #aaa;

      span {
        margin: 0;
      }
    }

    a:hover {
      color: #000;
    }
  }
}
