body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sams-serif;
  color: #000;
  background-color: #fff;
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 4rem;
  grid-template-columns: 2fr 3fr 2fr;
  -ms-grid-rows: 1fr 4rem;
  -ms-grid-columns: 2fr 3fr 2fr;
}

body, header, footer, div, p, ul {
  padding: 0;
  border: 0;
  margin: 0;
}

header {
  grid-row: 1/2;
  grid-column: 1/2;
  -ms-grid-row: 1/2;
  -ms-grid-column: 1/2;
  padding: 1rem;

  .header {
    width: 15em;
    margin: 0 0 0 auto;

    .header_link {
      padding-left: 1em;

      li {
        padding: 0.5em 0;

        a {
          display: block;
          font-size: 1.4em;
          line-height: 2em;
          text-decoration: none;

          img {
            vertical-align: middle;
            height: 1.4em;
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
}

#main {
  grid-row: 1/2;
  grid-column: 2/3;
  -ms-grid-row: 1/2;
  -ms-grid-column: 2/3;
  padding: 1rem;
  border-right: solid 1px #eee;
  border-left: solid 1px #eee;

  .post{
    padding: 1em 0;
    border-bottom: solid 1px #eee;

    .post_header{
      overflow: hidden;

      p {
        float: left;
      }

      .user_image {
        width: 2.5em;
        height: 2.5em;
        position: relative;
        overflow: hidden;
        border-radius: 2.5em;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .user_name {
        font-weight: bold;
        line-height: 2.5em;
        padding: 0 1em;
      }

      .time_stamp {
        float: right;
        line-height: 2.5em;
        padding: 0 1em;
        font-size: 0.8em;
        color: #aaa;
      }
    }
  }
}

#sidebar {
  grid-row: 1/2;
  grid-column: 3/4;
  -ms-grid-row: 1/2;
  -ms-grid-column: 3/4;
  padding: 1rem;

  .habits_detail {
    padding: 1em 0;
    border-bottom: solid 1px #eee;
  }
}

footer {
  grid-row: 2/3;
  grid-column: 1/4;
  -ms-grid-row: 2/3;
  -ms-grid-column: 1/4;
}

li{
  list-style: none;
}