/* static_pages#home */

header {
  grid-row: 1/2;
  grid-column: 1/2;
  -ms-grid-row: 1/2;
  -ms-grid-column: 1/2;
  padding: 1rem;

  .header {
    width: 15em;
    margin: 0 0 0 auto;
    position: sticky;
    top: 1em;

    .title_image {
      width: 14em;
      margin-bottom: 0.8em;
    }

    .header_link {
      padding-left: 1em;

      li {
        padding: 0.5em 0;

        a {
          display: block;
          font-size: 1.4em;
          line-height: 2em;

          img {
            vertical-align: middle;
            height: 1.4em;
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
}

#main {
  grid-row: 1/2;
  grid-column: 2/3;
  -ms-grid-row: 1/2;
  -ms-grid-column: 2/3;
  padding: 1rem;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  min-height: 94vh;

  .post, .comment {
    padding: 1em 0;
    border-bottom: solid 1px #ddd;

    .post_header, .comment_header {
      overflow: hidden;

      p {
        float: left;
      }

      .user_image {
        width: 2.5em;
        height: 2.5em;
        position: relative;
        overflow: hidden;
        border-radius: 2.5em;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .user_name {
        font-weight: bold;
        line-height: 2.5em;
        padding: 0 1em;
      }

      .time_stamp {
        float: right;
        line-height: 2.5em;
        padding: 0 1em;
        font-size: 0.8em;
        color: #aaa;
      }
    }

    .post_habit {
      padding-left: 3.5em;
      overflow: hidden;

      p {
        float: left;
      }

      img {
        margin-right: 0.2em;
        width: 1.2em;
        height: 1.2em;
      }

      .habit_name {
        line-height: 1.2em;
      }

    }

    .post_content, .comment_content {
      padding-left: 3.5em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .post_image {
      padding-left: 3.5em;
    }

    .comment_button {
      padding-left: 3.5em;

      a {
        font-size: 0.8em;
      }
    }
  }
}

#sidebar {
  grid-row: 1/2;
  grid-column: 3/4;
  -ms-grid-row: 1/2;
  -ms-grid-column: 3/4;
  padding: 1rem;

  .habits_detail {
    padding-left: 1em;
    height: 94vh;
    overflow: auto;
    position: sticky;
    top: 1em;
  }

  .habit {
    position: relative;
    width: 14em;
    margin: 2em 0;
    padding: 1em 1em 0.7em 1em;
    border: solid 2px #444;
    border-radius: 8px;

    .habit_name {
      position: absolute;
      display: inline-block;
      top: -13px;
      left: 10px;
      padding: 0 0.5em;
      background-color: #f2fff2;
      font-weight: bold;
    }

    .post_button {
      display: block;
      width: 8em;
      padding: 0.3em;
      margin-top: 0.3em;
      text-decoration: none;
      color: #fff;
      background-color: #888;
      border-bottom: solid 2px #444;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0,0,0,0.19);
      font-size: 0.8em;
    }
  }
}

/* static_pages#help */
#main {
  
  .help_title {
    font-size: 1.3em;
    margin-left: 0.8em;
  }

  .help_content {
    margin-left: 1em;

    h3, h4 {
      font-size: 1em;
      line-height: 2em;
      margin: 0;
    }

    .mgl {
      margin-left: 1.1em;
    }
  }
}

/* static_pages#lp */
.lp {
  display: initial;

  header {
    display: none;
  }

  .app_title {
    background-image: image-url("lp_image/top_image.jpg");
    background-size: contain;
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    height: 60em;

    .alert {
      text-align: center;
    }
  }

  h1 {
    text-align: center;
    font-size: 5em;
  }

  .sub_title {
    font-size: 1.7em;
    margin-bottom: 2em;
  }

  h2, h3 {
    width: 10em;
    height: 1.7em;
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    border-bottom: solid 3px #000;
  }

  h3 {
    margin-top: 2em;
  }

  p {
    text-align: center;
  }
  
  .habit_registration {
    height: 15em;
    width: 45em;
    margin: 0 auto;
    padding: 4em 3em;
    border-bottom: solid 1px #aaa;

    .habit_registration_image {
      display: inline-block;
      border: solid 1px #999;
    }

    div {
      display: inline-block;
      vertical-align: top;
      height: 15em;
      width: 17em;
      margin-left: 3em;

      .habit_registration_title {
      display: inline-block;
      margin: 0.7em;
      font-size: 1.5em;
      }

      ul {
        display: inline-block;
        margin: 1em;
      }
    }
  }

  .post {
    height: 15em;
    width: 39em;
    margin: 0 auto;
    padding: 4em 6em;
    border-bottom: solid 1px #aaa;

    .post_title {
      text-align: center;
      margin: 0.7em;
      font-size: 1.5em;
    }

    .post_image {
      border: solid 1px #999;
    }
  }

  .habit_management {
    height: 12em;
    width: 45em;
    margin: 0 auto;
    margin-bottom: 4em;
    padding: 4em 3em;
    border-bottom: solid 1px #aaa;

    .habit_management_image {
      display: inline-block;
      border: solid 1px #999;
    }

    div {
      display: inline-block;
      vertical-align: top;
      height: 15em;
      width: 17em;
      margin-left: 5em;
    }

    .habit_management_title {
      dhisplay: inline-block;
      margin: 0.7em;
      font-size: 1.5em;
      text-align: left;
    }

    .habit_management_content {
      display: inline-block;
      margin: 1em;
      text-align: left;
    }
  }

  .signin_link, .signup_link, .test_signin_form {
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;

    a, .test_signin_button {
      font-size: 1.3em;
      padding: 3px 5px;
      display: inline-block;
      color: #000;
      background-color: rgba(0,0,0,0);
      border: solid 2px #000;
      border-radius: 3px;
      transition: .4s;
    }

    a:hover, .test_signin_button:hover {
      background: #000;
      color: #fff;
    }
  }
}
