<div id="main">
  <%= render partial: "habit_form", locals: {title: "習慣登録情報編集", submit_button_name: "保存"} %>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>