<div id="main">
  <%= render partial: "habit_form", locals: {title: "新しい習慣を登録", submit_button_name: "登録"} %>
</div>

<div id="sidebar">
  <%= render partial: "shared/sidebar", locals: {show_edit_delete_button: false} %>
</div>
