<% if user_signed_in? %>
  <% @habits.each do |habit| %>
    <div class="habit_detail">
      <ul>
        <li>習慣：<%= habit.content %></li>
        <li>継続日数：<%= habit.continuation_days %></li>
        <li>トータル日数：<%= habit.total_days %></li>
        <li><%= link_to "今日の成果を投稿", new_habit_post_path(habit) %></li>
      </ul>
    </div>
  <% end %>
<% end %>